.wpcf7 form.sent .wpcf7-response-output {
    border-color: #cddf1a !important;
background-color: #cddf1a !important;
    color: #1A083D !important;
    font-weight: bold !important;
}

body{
border: 3px solid red !important;
}
